/* From the :root element you can easily change the colors of the design, its size and so on. */
:root {

  /* You can change the font family in the whole design here. (You need to add the font family to the codes.) */
  --font_family: 'Poppins', sans-serif;

  /* You can change the font size here, is proportional to all texts. */
  --font_size: 16px;

  /* You can change the background color by typing the color code. (If you do not enter a background-image image, the background-color will be active.) */
  --background_color: #000;
  --background_image: url("../img/wallpaper.png");

  /* You can change the frame thickness and color of the picture by typing the number of pixels and the color code. */
  --image_border_color: #d9fff4;
  --image_border_px: 3px;

  /* You can change the width and size of the picture by typing the number of pixels. */
  --image_width: 140px;
  --image_height: 140px;

  /* You can change the colors of the title and description section by typing the color codes. */
  --title_color: #211E1C;
  --description_color: #211E1C;

  /* You can change the colors of social media icons by changing the color code. */
  --svg_color: #211E1C;

  /* You can change the background, text color and active color of the menu by changing the color codes. */
  --menu_background_color: #1d1e24;
  --menu_text_color: #fff;
  --menu_active_text_color: #d7e04f;

  /* You can change the button's background, text color and active color by changing the color codes. */
  --button_background_color: #d9fff4;
  --button_text_color: #505050;
  --button_text_hover_color: #ffffff;
  --button_text_hover_bg: #565656;

  /* You can change the background, text color and active color of the text field by changing the color codes. */
  --textarea_background_color: #1d1e24;
  --textarea_text_color: #fff;
  --textarea_link_text_color: #d7e04f;

  /* You can change the background, text color and active color of the footer area by changing the color codes. */
  --footer_background_color: #1d1e24;
  --footer_text_color: #fff;
  --footer_link_text_color: #d7e04f;
}

/* Basic Codes */
h2.header_h_item {
    font-weight: normal !important;
    color: #14512d;
}
.qrcodes .header_svg_item {
    width: 15.1em;
    height: 17.4em;
    border: 2px solid #e7e7e7;
    overflow: hidden;
    margin: 1em !important;
    background: #fff;
}

.header_svg_item img {
    width: 100%;
    margin-bottom: 6px;
}
body.bd{
  background: linear-gradient(to bottom, #e0fff6, #ffffff);
    background-image: url(/img/logo.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top right;
    background-blend-mode: lighten;
    background-color: #f0fffbf0;
}
.qrcodes p {
    text-align: center;
    color: var(--button_text_color);
    text-decoration: none;
        margin: auto;
}
.qrcodes a {
    text-decoration: none !important;
}
.qrcodes a:hover p {
    color: #fff;
}
body {
  font: var(--font_size) var(--font_family);
  font-weight: 400;
  line-height: 1.5;
  background: url(../img/stone.png) no-repeat left 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
    background-color: #fff;
    background-size: 40%;
}

.main_button_item p{
  font-weight: bold;
  margin: 0;
  font-size: 0.9em;
}.main_button_item p span{
  font-weight: normal;
}
div.treemtxt {
        background-color: transparent!important;
        display: block;
        margin: auto;
        max-width: 41em;
        text-align: center;
        border-radius: 0.3em;
}
.flex_column_center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex_row_center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex_no_wrap_row_center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* Logo, Title and Description Codes */

.header_img {
  padding-top: 1em;
}

.header_img img {
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin-bottom: 0.5em;
}

.header_text h1 {
  color: #14512d;
  font-size: 2.6em;
}

.header_text h2 {
  color: var(--description_color);
  font-size: 1.2em;
}

/* Social Media Icons Codes */

.header_svg_list {
  padding-top: 2em;
}

.header_svg_item {
  width: 3.1em;
  height: 3.1em;
  cursor: pointer;
    margin: 1.5em 2em;
    text-align: right;
    border-radius: 6px;
}


.header_svg_item svg, path {
  fill: var(--svg_color);
}

/* Menu Codes */

#header_nav_menu_item_1 {
  color: var(--menu_active_text_color);
}

#header_nav_menu_item_2,
#header_nav_menu_item_3 {
  color: var(--menu_text_color);
}


.header_nav_menu_list {
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.header_nav_menu_item {
  color: var(--menu_text_color);
  background-color: var(--menu_background_color);
  text-align: center;
  list-style-type: none;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
  transition: 0.10s ease;
  font-size: 1.1em;
}

.header_nav_menu_item + .header_nav_menu_item {
  margin-left: 0.4em;
}

/* Menu Container Codes */
.header_svg_item:hover {
    background: #3c3c3c;
    border: 2px solid #3c3c3c;
}
.main_a_item button .col-lg-2{
  flex: 0 0 16.66667%;
    max-width: 16.66667%;

}



.main_a_item button .col-lg-8{
  flex: 0 0 66.66667%;
    max-width: 66.66667%;

}
.header_svg_item:hover path {
    fill: #bdf3e3;
}

main {
  margin-bottom: auto;
}
.contatocont p {
    border-top: none !important;
    color: #505050;
    font-size: 0.7em;
    padding: 0 !important;
}
.contatocont a.btn {
    color: #14512d !important;
    background-color: #f1f5f3;
    width: 41em;
    border-radius: 6px;
    align-items: center;
    border: 0;
    margin-bottom: 40px !important;
    font-size: 0.8em !important;
    font-weight: 500;
    padding: 9px;
}
#main_section_container_2, #main_section_container_3 {
 display: none;
}
.main_a_item i{
  -webkit-text-stroke: 2px #ffffff;
}
.main_a_item {
  margin-top: 1em;
  text-decoration: none !important;
}
.footertree{
  text-align: center;
}
.footertree img{
  max-width: 41em;
    border-radius: 12px;
    border: 2px solid #e7e7e7;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 21%);
    padding: 0.1em 1em;
    width: 100%;
  background-color: #fff;
}
.treemtxt > p{
  color: #14512d;
    font-weight: bold;
    margin: 2em 0 0 0;
    padding: 24px 0 0 0;
    font-size: 1.5em;
    border-top: 1px solid #14512d26;
}

.main_text_item {
    background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button_text_color);
  width: 41em;
  
  padding: 0 0 0.8em;
  border-radius: 0.3em;
  min-height: 3.7em;
  text-align: center;
}
div.main_text_item p{
  color: #211E1C;
    font-size: 0.8em;
}
h6.header_h_item{
  color: #211E1C;
    font-size: 0.8em;
}
.contatocont a img {
    vertical-align: middle;
    border-radius: 12px;
    max-width: 20px !important;
    margin-right: 2px;
}
div.contatocont .col-lg-6{
  overflow: hidden;
  background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 21%);
    margin: 2%;
  flex: 0 0 45%;
        max-width: 45%;
  padding: 0;
}
.fa-angle-right:before {
    content: "\f105";
  font-family: "Font Awesome 5 Free";
}
.fa {
  font-family: "Font Awesome 5 Free";
  font-size: 2em;
    text-align: right;
}
.scsuni{
  position: relative;
      display: block;
    background-image: url('/img/nwb.jpg');
    height: 9em;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
  transition: none !important;
}
.sauni{
  position: relative;
      display: block;
    background-image: url('/img/bs.jpg');
     height: 9em;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    transition: none !important;

}
.row img {
  max-width: 78px !important;
}
.main_a_item span{
  font-size: 0.8em;
    display: block;
}
.main_button_item {
  border: none;
  color: #14512d;
  background-color: #fff;
  width: 34em;
  border-radius: 1em;
  min-height: 3.7em;
      text-align: left;
    padding: 12px;
  cursor: pointer;
  
  font-weight: bold;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 21%);
  display: flex;
    align-items: center;
}

.main_small_button_list {
  display: flex;
  flex-direction: row;
}

.main_small_a_item {
  margin-top: 1em;
  text-decoration: none;
}

.main_small_a_item + .main_small_a_item {
  margin-left: 10px;
}

.main_small_button_item:hover,
.main_button_item:hover, a.btn.btn-primary:hover {
  color: #fff;
    background-color: #14512d;
    transform: scale(1.02);
    transition: 0.10s ease;
}

.main_small_button_item {
  color: var(--button_text_color);
  background-color: var(--button_background_color);
  width: calc(41em / 2 - 5px);
  border-radius: 1em;
  min-height: 3.7em;
  text-align: center;
  cursor: pointer;
}
.scsuni img, .sauni img{
  position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 67px;
}
.contatocont h5{
  padding-top: 1.8em !important;
    font-size: 1em;
    font-weight: 600 !important;
}
/* Footer Codes */

.footer_div_item {
  background: #fff;
  padding: 6px;
  margin-top: 1.5em;
  font-size: 0.6em;
}
.footer_div_item .text-white {
    color: #565656 !important;
}
.footer_a_item {
  color: var(--footer_link_text_color);
  text-decoration: none;
}

/* Responsive Codes */

@media (max-width: 768px) { 
  body.bd{
    background-position: top right -6em;
    background-size: 100%;
  }
  .main_a_item button i.col-lg-2{
  max-width: 10.66667%;
text-align: right;
}
  .main_a_item button .col-lg-8{
        max-width: 59.66667%;
  }
  .main_text_item {
    width: 92vw;
  }
  .contatocont div.col-lg-6 {
    flex: none;
    margin: auto;
    max-width: 90% !important;
  }
  .main_small_button_item {
    width: calc(92vw / 2 - 5px);;
  }

  .main_button_item {
    width: 92vw;
  }
  
  .header_h_item {
    width: 92vw;
    text-align: center;
  }
  
}
